asgiref==3.2.7
astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
coverage==5.3
Django==3.1.6
django-cors-headers==3.3.0
djangorestframework==3.11.0
gunicorn==20.0.4
isort==5.5.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2-binary==2.8.5
pylint==2.6.0
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
wrapt==1.12.1
