* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Source Sans Pro, sans-serif;
    background-color: #f5f6fa;
    color: #4c5e7d;
    line-height: 1.5;
    font-size: 0.9rem;
}

.logo {
    color: #fff;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

input.form-check-input {
    cursor: pointer;
}

label.form-check-label {
    cursor: pointer;
}

.course-filters__header {
    display: flex;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 0;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.course-filters__header button {
    color: #4d83f3;
    font-weight: 600;
    background-color: transparent;
    border: none;
    padding: 0;
}

.course-filter {
    border-bottom: 1px solid #d8d8d8;
    padding: 15px 0;
}

.course-filter h4 {
    font-weight: 600;
    font-size: 0.9rem;
}

.icon-fact {
    color: #9198a5;
    width: 15px;
    margin-right: 10px;
}

.job-filters__footer {
    display: block;
    margin: 20px 0;
}

.job-filters__footer nav {
    display: block;
}

.job-filters__footer nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
}

.job-filters__footer nav ul a {
    display: block;
    padding: 0;
    margin-right: 20px;
}

ul.courseDetailList {
    font-size: 0.7rem;
}

ul.courseDetailList li {
    margin-bottom: 7px;
}

table {
    border: 0;
}

th {
    font-size: 0.9em;
    border: 0;
}

.day {
    max-width: 20px;
    transform: rotate(-90deg);
}

td {
    height: 40px;
    width: 105px;
    max-width: 105px;
    min-width: 105px;
    border: thin solid #eee;
    vertical-align: top;
    background-color: #fff;
}

td .btn-sm {
    position: relative;
    font-size: 0.65rem;
    font-weight: 600;
    text-align: left;
    padding: 3px 5px;
    color: #fff;
    border-left: 4px solid #000;
    margin-bottom: 1px;
    opacity: 0.5;
}

tbody th {
    text-align: center;
}

.li-span {
    background-color: #f5f5f5;
    border-bottom: 1px solid #999;
    padding: 3px 5px;
    font-size: 0.7rem;
}

.menu {
    margin-top: 10px;
}

.menu a.nav-link {
    color: #fff;
    font-weight: 600;
}

.menu a.active {
    color: #fff;
    border-bottom:  3px solid #fff;
}