* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Source Sans Pro, sans-serif;
    background-color: #f5f6fa;
    color: #4c5e7d;
    line-height: 1.5;
    font-size: 0.9rem;
}

a {
    color: #4c5e7d;
    text-decoration: none;
}